<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-if-else与v-show条件判断</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="score">
        <p v-if="score > 90">优秀</p>
        <p v-if-else="score >= 80">良好</p>
        <p v-if-else="score >= 70">中等</p>
        <p v-if-else="score >= 60">及格</p>
        <p v-else>不及格</p>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
            return {
                score : 0,
                message:""
            };
            },
            created() {
                
            },
            mounted() {
                
            },
            methods: {
                
            },
        });
        let vm = app.mount('#app');
    </script>
</body>

<html>