<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for指令条件筛选</title>
</head>

<body>
    <div id="app">
        <label>
            <input type="text" v-model="playerQueryParam">
        </label>
        <ul>
            <li v-for="item in filterPlayers" :key="item.id">
               id:{{item.id}} --- 姓名:{{item.name}} --- 年龄:{{item.age}}
            </li>
        </ul>

        <!-- 数组的渲染部分 -->
        <ul>
            <div v-for="item in players" :key="item.id">
                <li v-if="filterMethod(item)">
                    id:{{item.id}} --- 姓名:{{item.name}} --- 年龄:{{item.age}}
                </li>
            </div>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    players: [
                        { id: 1, name: "aaa", age: 20 },
                        { id: 2, name: "bbb", age: 20 },
                        { id: 3, name: "ccc", age: 20 },
                    ],
                    playerQueryParam: ""
                };
            },
            computed: {
                filterPlayers() {
                    return this.players.filter((player) => {
                        return player.name.includes(this.playerQueryParam);
                    })
                }
            },
            methods: {
                filterMethod(item) {
                    //当id等于1返回值为true
                    return item.name.includes(this.playerQueryParam)
                }
            },
        });
        let vm = app.mount('#app');
    </script>
</body>

<html>