<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model绑定select实现单选多选</title>
</head>

<body>
    <div id="app">
        <h2>选择性别</h2>
        <h3>你的选择是：{{gender}}</h3>
        <select name="" v-model="gender" id="">
            <option value="男">男</option>
            <option value="女">女</option>
        </select>
        <hr>
        <h2>选择技术栈</h2>
        <h3>你的选择是:{{checks}}</h3>
        <select multiple v-model="checks" id="">
            <option value="SpringBoot">SpringBoot</option>
            <option value="Vue">Vue</option>
            <option value="Linux">Linux</option>
        </select>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    gender: '男',
                    checks: ['SpringBoot']
                };
            },
            created() {

            },
            mounted() {

            },
            methods: {

            },
        });
        let vm = app.mount('#app');
    </script>
</body>

<html>